<div>
    <label>
        Email
        <input id="email-login" name="email-login" type="text" />
    </label>
    
    <label>
        Password
        <input id="password-login" name="password-login" type="password" />
    </label>
    <button id="sign-in">Sign In</button>

    <p id="login-error" class="d-none error">

    </p>
</div>