<div>
    <label>
        Email
        <input id="email-register" name="email-register" type="text" />
    </label>
    <p id="email-register-error" class="d-none error">

    </p>
    <label>
        Username
        <input id="username-register" name="username-register" type="text" />
    </label>
    <p id="username-register-error" class="d-none error">

    </p>
    <label>
        Password
        <input id="password-register" name="password-register" type="password" />
    </label>
    <p id="password-register-error" class="d-none error">

    </p>
    <label>
        Repeat Password
        <input id="password-repeat-register" name="password-repeat-register" type="password" />
    </label>
    <p id="repeat-password-register-error" class="d-none error">

    </p>
    <label>
        Terms and Conditions
        <input id="terms" name="terms" type="checkbox" />
    </label>
    <p id="terms-error" class="d-none error">

    </p>
    <label>
        Privacy Policy
        <input id="privacy" name="privacy" type="checkbox" />
    </label>
    <p id="privacy-error" class="d-none error">

    </p>
    <button id="sign-up">Sign Up</button>
</div>