<nav class="navbar navbar-expand-xl p-sm-5">
    <div class="container-fluid">
        <a href="#" class="position-relative">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mr-fix mb-2 mb-xl-0">
                <li class="nav-item">

                </li>
            </ul>
        </div>
    </div>
</nav>