@import "vars.scss";

*,
html,
body {
    margin: 0;
    padding: 0;
}

.error {
    color: $errorColor;
}

.red-border {
    border: 2px solid $errorColor;
}

.clickable {
    cursor: pointer;
}

.map-overlay {
    border: 1px solid #000;
}

.cube-overlay {
    top: 0;
}