Currently turned off nations are: <span id="turned-off-nations"></span>. You can add new deck with it or edit it, but
you will not be able to play with it until administrator turn it on again.
<script src="/js/utils/currentlyTurnedOffNations.js"></script>