<div id="user-deck">
</div>
<div id="find-buttons">
    <button id="find-game" class="btn own-btn">Find Game</button>
</div>
<%- include('../links/websocketsLinks') %>
    <script src="/js/game/findGame.js"></script>