<% if(decks.length> 0) { %>
    <select id="my-decks">
        <% for(var i=0; i < decks.length; i++) { %>
            <option value="<%= decks[i]._id %>">
                <%= decks[i].name %> - <%= decks[i].nation %>
            </option>
            <% } %>
    </select>
    <button id="edit-deck">Edit Deck</button>
    <% } %>